.modal-body.staff-notes-modal {
  height: 300px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  textarea {
    width: 98%;
  }

  .posted-by {
    width: 40px;
    float: left;
  }
  .note-contents {
    overflow: hidden;

    .cooked {
      margin-top: 0.5em;
    }

    .username {
      font-weight: bold;
    }

    p {
      margin: 0 0 1em 0;
    }
  }

  .staff-note {
    margin-bottom: 1em;
  }

  .controls {
    float: right;
  }
}

.staff-notes-icon {
  .mobile-view & {
    order: 4;
  }
  cursor: pointer;
}

.admin-report.staff-notes {
  grid-column: span 12;

  .admin-report-table {
    table-layout: auto;

    tbody tr td,
    thead tr th {
      text-align: left;
    }

    thead tr th.note,
    tbody tr td.note {
      width: 60%;
    }
  }
}
