.modal-body.staff-notes-modal {
  height: 300px;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  textarea {
    width: 98%;
  }

  .posted-by {
    width: 40px;
    float: left;
  }
  .note-contents {
    overflow: hidden;

    .cooked {
      margin-top: 0.5em;
    }

    .username {
      font-weight: bold;
    }

    p {
      margin: 0 0 1em 0;
    }
  }

  .staff-note {
    margin-bottom: 1em;
  }

  .controls {
    float: right;
  }
}

.staff-notes-icon {
  .mobile-view & {
    float: right;
  }
  cursor: pointer;
}
