#discourse-modal {
  .modal-body.user-notes-modal {
    max-height: 80vh !important;
  }
}

.modal-body.user-notes-modal {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  textarea {
    width: 98%;
    @include breakpoint(mobile, min-width) {
      min-width: 400px;
    }
  }

  .posted-by {
    width: 40px;
    float: left;
  }
  .note-contents {
    overflow: hidden;

    .cooked {
      margin-top: 0.5em;
    }

    .username {
      font-weight: bold;
    }

    p {
      margin: 0 0 1em 0;
    }
  }

  .user-note {
    border-top: 1px solid $primary-low;
    padding-top: 1em;

    &:first-of-type {
      margin-top: 1em;
    }
    @include breakpoint(mobile, min-width) {
      max-width: 530px;
    }
  }

  .controls {
    float: right;
  }
}

.user-notes-icon {
  .mobile-view & {
    order: 2;
    margin-left: 10px;
  }
  cursor: pointer;
}

.admin-report.user-notes {
  grid-column: span 12;

  .admin-report-table {
    table-layout: auto;

    tbody tr td,
    thead tr th {
      text-align: left;
    }

    thead tr th.note,
    tbody tr td.note {
      width: 60%;
    }
  }
}
